/* 전체 초기화 및 폰트 설정 */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

/* Header 영역 */
.header {
  background-color: #eee;
}

.header-top {
  height: 32px;
  background-color: #ff5f30;
}

.header-main {
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.header-main .left {
  width: 190px;
}

.header-main .logo {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0 18px;
  max-width: 140px;
  width: auto;
}

.header-main .right .main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  background-color: #fff;
  overflow: hidden;
  transition: max-height 0.5s ease, overflow 0.5s linear, overflow 0s linear 0.5s;
}

.header-main .right .main-menu ul li {
  height: 76px;
  width: 100px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 4px solid #fff;
  cursor: pointer;
}

.header-main .right .main-menu ul li.open {
  background-color: #ccc;
  border-top-color: #009383;
}

/* Navigation bar */
.header-nav {
  height: 60px;
  background-color: #ccc;
  border-bottom: 2px solid #ff5f30;
  display: flex;
  align-items: center;
}

.header-nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: white; /* 필요에 따라 배경 지정 */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 선택사항 */
}

.header-nav .left {
  width: 50px;
}

.header-nav .right .main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  overflow: hidden;
  transition: max-height 0.5s ease, overflow 0.5s linear, overflow 0s linear 0.5s;
}

.header-nav .right .main-menu ul li {
  height: 60px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

/* 메뉴 텍스트 링크 처리 */
.header-nav .main-menu ul li a {
  text-decoration: none;
  color: inherit;
}

.header-nav .main-menu ul li:hover {
  color: #ff5f30;
  cursor: pointer;
}

.header-nav .main-menu ul li.is-active {
  color: #ff5f30;
  cursor: pointer;
}

/* Section 1 */
#section1 {
  height: 433px;
  background-color: #606060;
  display: flex;
  align-items: center;
}

#section1 .left,
#section1 .right {
  width: 50%;
}

#section1 .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 .left img {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

#section1 .right {
  color: #fff;
}
#section1 .right .text {
  padding: 72px;
}
#section1 .right h3 {
  margin: 0 0 36px;
  font-weight: 800;
}

/* Overview section */
#overview {
  text-align: center;
  padding: 40px 20px;
  height: 323px;
}

/* Font sizes */
.font-16 {
  font-size: 16px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-30 {
  font-size: 30px;
}
.font-44 {
  font-size: 44px;
}
.word-wrap-text {
  word-break: keep-all;
  white-space: normal;
}

/* Primary button */
.btn-primary {
  margin-top: 18px;
  padding: 10px;
  width: 200px;
  border: 0;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  background-color: #ff5f30;
  cursor: pointer;
}

/* Section 2 (testimonial) */
#section2 {
  min-height: 423px;
  background-color: #cccccc;
  display: flex;
  align-items: center;
}

#section2 .left,
#section2 .right {
  width: 50%;
  margin: 0 150px;
}

#section2 .left {
  color: black;
  text-align: right;
  margin-right: 50px;
}

#section2 .right img {
  width: 200px;
}

#section2 .left h4 {
  font-size: 30px;
  margin-bottom: 36px;
}

#section2 .left span {
  display: inline-block;
  margin-bottom: 36px;
}

#features {
  padding: 60px 20px;
  background-color: #fff;
}

.features-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.video-box {
  flex: 1 1 480px;
  max-width: 560px;
  padding: 72px;
}

.text-box {
  flex: 1 1 400px;
  max-width: 500px;
  line-height: 1.6;
  color: #000;
  padding: 72px;
}

.text-box button {
  margin-top: 20px;
}

/* 전체 섹션 패딩 제거 */
#section3 {
  padding: 0;
  background-color: #fff;
}

/* 공통 row 스타일 (flex 정렬만) */
.section3-row {
  display: flex;
  justify-content: center;
  margin: 0 100px;
}

/* 선 구분 */
.row-top-bottom {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.row-bottom-only {
  border-bottom: 1px solid #ccc;
}

/* 각 셀 스타일 */
.section3-cell {
  flex: 1;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 72px;
}

/* 가운데 수직선 */
.section3-cell.with-line {
  border-left: 1px solid #ccc;
}

.section3-cell h4 {
  color: #ff5f30;
  font-size: 18px;
  margin: 0 0 36px;
}

.section3-cell p {
  width: 100%;
  color: #000;
  line-height: 1.6;
  margin: 0 0 36px;
}

.section3-cell small {
  font-size: 14px;
  color: #555;
  display: block;
  margin-top: 10px;
}

.lp_icons {
  fill: #ff5f30;
}

#section4 {
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  padding: 72px 20px;
  align-items: center;
  justify-content: center;
}

.section4-left {
  max-width: 560px;
  padding: 0 72px;
}

.section4-right {
  flex: 1 1 480px;
  max-width: 560px;
  padding: 0 72px;
}

.section4-left h3 {
  font-size: 44px;
  color: #ff5f30;
  margin: -100px 0 36px 0;
  font-weight: 800;
}

.section4-left p {
  font-size: 20px;
  color: #000;
  line-height: 1.6;
}

.section4-right iframe {
  width: 100%;
  height: 315px;
  max-width: 100%;
}

#section5 {
  display: flex;
  flex-wrap: wrap;
  padding: 72px 20px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.section5-left {
  flex: 1 1 480px;
  max-width: 560px;
  padding: 0 72px;
}
.section5-right {
  max-width: 560px;
  padding: 0 72px;
}

.section5-right h3 {
  color: #ff5f30;
  font-size: 44px;
  font-weight: 800;
  margin: -100px 0 36px 0;
}

.section5-right p {
  font-size: 20px;
  color: #000;
  line-height: 1.6;
}

#section6 {
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  padding: 72px 20px;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.section6-left,
.section6-right {
  flex: 1 1 480px;
  max-width: 560px;
}

.section6-left h3 {
  font-size: 44px;
  color: #ff5f30;
  font-weight: 800;
  margin: -150px 0 36px 0;
}

.section6-left p {
  font-size: 20px;
  color: #000;
  line-height: 1.6;
}

.section6-right img {
  width: 100%;
  height: auto;
  display: block;
}

#section7 {
  display: flex;
  flex-wrap: wrap;
  padding: 72px 20px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.section7-left,
.section7-right {
  flex: 1 1 480px;
  max-width: 560px;
  padding: 0 72px;
}

.section7-left img {
  width: 100%;
  height: auto;
  display: block;
}

.section7-right h3 {
  font-size: 44px;
  color: #ff5f30;
  font-weight: 800;
  margin-bottom: 36px;
}

.section7-right p {
  font-size: 20px;
  color: #000;
  line-height: 1.6;
}

#section8 {
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  padding: 72px 20px;
  justify-content: center;
  align-items: center;
}

.section8-left,
.section8-right {
  flex: 1 1 480px;
  max-width: 620px;
  padding: 0 72px;
}

.section8-left h3 {
  color: #ff5f30;
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 36px;
}

.section8-left p {
  font-size: 20px;
  color: #000;
  line-height: 1.6;
  margin-bottom: 36px;
}

.section8-right img {
  width: 100%;
  height: auto;
  display: block;
}

.section8-block {
  margin-bottom: 20px;
}

/* section9 section */
#section9 {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 72px 20px;
  align-items: center;
  justify-content: center;
}

.section9-left,
.section9-right {
  flex: 1 1 480px;
  max-width: 600px;
  padding: 0 0 0 72px;
}

.section9-left img {
  width: 200px;
  margin-left: 150px;
  height: auto;
  display: block;
}

.section9-right h3 {
  font-size: 44px;
  color: #ff5f30;
  font-weight: 800;
  margin-bottom: 36px;
}

.section9-right p {
  font-size: 20px;
  color: #000;
  line-height: 1.6;
}

/* specifications section */
#specifications {
  width: 100%;
  max-width: 100%;
  margin: auto;
  background-color: #ccc;
}

.accordion {
  margin: 0 auto;
  width: 95%;
  max-width: 1296px;
  background-color: #ccc;
}

.accordion-button {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-button .icon {
  font-size: 20px;
  font-weight: bold;
}

.accordion-content {
  display: none;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

th:first-child,
td:first-child {
  width: 35%; /* 첫 번째 열을 일정 비율로 설정 */
  white-space: nowrap;
}

th,
td {
  padding: 18px;
  border: 1px solid #ccc;
}

th {
  background-color: #eee;
  text-align: left;
  border-bottom: 2px solid #999; /* 진한 하단 테두리 */
}

td:nth-child(1) {
  font-weight: 400;
}

td:nth-child(2) {
  font-weight: 700;
}

tbody tr:nth-child(odd) {
  background-color: #eee; /* 짝수행 배경 */
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5; /* 짝수행 배경 */
}

.bold {
  font-weight: bold;
}

/* downloads section */
#downloads {
  display: flex;
  flex-wrap: wrap;
  padding: 72px 20px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.downloads-left {
  max-width: 560px;
  padding: 0 72px;
  margin-top: -100px;
}
.downloads-right {
  flex: 1 1 480px;
  max-width: 560px;
  padding: 0 72px;
}

.downloads-left h3 {
  font-size: 44px;
  color: #000;
  font-weight: 800;
  margin-bottom: 36px;
}

.downloads-left p {
  font-size: 20px;
  color: #000;
  line-height: 1.6;
  margin-bottom: 24px;
}

.downloads-left .btn-primary {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff5f30;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.downloads-right img {
  margin-left: 150px;
  width: 300px;
  height: auto;
  display: block;
}

/* section10 section */
#section10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

#section10 p {
  margin: 0 0 36px;
  font-size: 14px;
  color: #000;
}

#section10 img {
  max-width: 100%;
  height: auto;
}

/* contact_us section */
#contact_us {
  text-align: center;
  padding: 40px 20px;
  height: 223px;
  margin: 0px 150px;
}

/* service section */
#service {
  text-align: center;
  padding: 40px 20px;
  height: 223px;
  margin: 0px 250px;
}

#working_hours {
  background-color: #666;
  color: white;
  padding: 40px 0;
}
#working_hours .text {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
}
#working_hours .text .culumn {
  margin: 0 100px;
}

#working_hours h3 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 36px;
}

#working_hours p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 24px;
}

/* Footer */
footer {
  font-size: 14px;
  color: #000;
}

/* Footer top */
.footer-top {
  background-color: #ccc;
  border-top: 4px solid #ff5f30;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  gap: 100px;
}

.footer-section h4 {
  color: #ff5f30;
  font-size: 20px;
  margin-bottom: 12px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #000;
}

/* Footer bottom */
.footer-bottom {
  background-color: #ff5f30;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.footer-bottom .policy-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 10px;
}

.footer-bottom .policy-links a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.footer-icon {
  margin-bottom: 10px;
}

.footer-icon img {
  vertical-align: middle;
}

#overview,
#features,
#specifications,
#downloads,
#contact_us,
#service {
  scroll-margin-top: 60px;
}

@media (max-width: 1024px) {
  .accordion {
    margin: 0 auto;
    width: 95%;
    background-color: #ccc;
  }

  #section1 .right .text {
    padding: 20px;
  }

  #section2 .left,
  #section2 .right {
    margin: 0 50px;
  }

  .section3-row {
    margin: 0 10px;
  }
  .section3-cell {
    padding: 10px;
  }
  .section3-cell .font-24 {
    font-size: 20px;
  }

  #section4,
  #section5,
  #section6,
  #section7 {
    padding: 24px;
  }
  .section4-left,
  .section4-right,
  .section5-left,
  .section5-right,
  .section6-left,
  .section7-right,
  .section8-left,
  .section9-left,
  .section9-right {
    padding: 24px;
    max-width: 820px;
  }
  .section4-left h3,
  .section5-right h3,
  .section6-left h3,
  .section7-right h3,
  .section8-left h3,
  .section9-right h3 {
    font-size: 36px;
    margin: 00px 0 36px 0;
  }
  .section9-left img {
    margin: 0 auto;
  }

  .downloads-left {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .features-content {
    gap: 10px;
    text-align: center;
  }
  .features-content .video-box,
  .features-content .text-box {
    padding: 20px 72px;
  }
  .downloads-right img {
    margin: 0 auto;
  }

  /* contact_us section */
  #contact_us,
  #service {
    text-align: center;
    padding: 40px 20px;
    height: 223px;
    margin: 0px 50px;
  }
  #contact_us h2 {
    font-size: 36px;
  }

  #working_hours .text .culumn {
    margin: 0 20px;
  }

  .footer-top {
    padding: 20px 20px;
    gap: 70px;
  }
  .footer-section {
    text-align: left;
  }

  .footer-bottom .policy-links {
    flex-direction: row;
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .font-44 {
    font-size: 30px;
  }
  .video-box {
    flex: 1 1 480px;
    max-width: 560px;
    padding: 72px;
  }
  #section1,
  #section2,
  #downloads {
    flex-direction: column;
    padding: 10px;
  }
  #section1 {
    height: 420px;
  }

  #section1 .left,
  #section1 .right {
    width: 100%;
  }
  #section1 .left img {
    width: 70%;
  }
  #section1 .right h3 {
    margin: 0 0 12px;
    font-weight: 800;
  }

  #section1 .right .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }

  #overview {
    padding: 40px 20px;
    height: 400px;
  }

  #section2 .left {
    margin: 0;
    width: 90%;
    max-width: 100%;
  }
  .features-content {
    gap: 10px;
    text-align: center;
  }
  .features-content .video-box,
  .features-content .text-box {
    padding: 20px 24px;
  }
  .section3-row {
    margin: 0 10px;
  }
  .section3-cell {
    padding: 10px;
  }
  .section3-cell .font-24 {
    font-size: 16px;
  }

  #section4,
  #section5,
  #section6,
  #section7 {
    padding: 24px;
  }
  .section4-left,
  .section4-right,
  .section5-left,
  .section5-right,
  .section6-left,
  .section7-right,
  .section8-left,
  .section9-left,
  .section9-right {
    padding: 24px;
    max-width: 620px;
  }
  .section4-left h3,
  .section5-right h3,
  .section6-left h3,
  .section7-right h3,
  .section8-left h3,
  .section9-right h3 {
    font-size: 30px;
    margin: 00px 0 36px 0;
  }
  .section9-left img {
    margin: 0 auto;
  }
  .downloads-left {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .overview h2,
  .downloads-left h3 {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .downloads-left,
  .downloads-right {
    padding: 20px;
  }

  /* contact_us section */
  #contact_us,
  #service {
    padding: 20px 20px;
    height: 223px;
    margin: 0px 50px;
  }
  #contact_us h2 {
    font-size: 24px;
  }

  #working_hours .text .culumn {
    margin: 0 20px;
  }

  #working_hours .text .culumn h3 {
    font-size: 20px;
  }
  #working_hours .text .culumn p {
    font-size: 16px;
  }

  .footer-top {
    padding: 20px 20px;
    gap: 30px;
  }
  .footer-section {
    text-align: left;
  }

  .footer-bottom .policy-links {
    flex-direction: row;
    gap: 8px;
  }
}
